/* HeroSection Text Animation */
.text {
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}

@media screen and (min-width: 250px) and (max-width: 640px) {
  .text {
    font: lighter 35px/45px Montserrat, sans-serif;
    color: #999;
  }
}

.text p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.text b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.text .textInnerAnimation {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
}

/* HeroSection Text Animation mobile */
@media screen and (min-width: 250px) and (max-width: 640px) {
  .text .textInnerAnimation {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
    -webkit-animation: move-mobile 5s;
    -moz-animation: move-mobile 5s;
    -ms-animation: move-mobile 5s;
    -o-animation: move-mobile 5s;
    animation: move-mobile 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }
}

@keyframes move-mobile {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -134px;
  }
}

/* @-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
} */
/* @-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
} */

/* Navbar Dropdown animation */
.hover-trigger .hover-target {
  opacity: 0;
  height: 0;
  transform: scale(0);
  padding-top: 0;
  transition: all 0.6s;
}

.hover-trigger:hover .hover-target {
  opacity: 1;
  height: 138px;
  transform: scale(1);
  padding-top: 1rem;
}

.dropdown-lang {
  opacity: 1;
  height: 138px;
  transform: scale(1);
  transition: all 0.8s;
}

@keyframes drbd-lang-on {
  from {
    opacity: 0;
    transform: scale(0);
  }
  40% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dropdown-lang-close {
  opacity: 0;
  height: 0;
  transform: scale(0);
  transition: all 0.8s;
}

@keyframes drbd-lang-off {
  from {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* HomePage HeroSection news hover block Animation */
.news-animation {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
  transform: scale(1);
  transition: 1s ease all;
}

.news-animation:hover {
  transform: scale(1.2);
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 75% 100%, 25% 100%, 0 100%);
}

/* CALLLBACKFORM is Collapse Animation */
.container-form {
  animation: backIntDown 1s linear;
}

.container-form-close {
  animation: backOutUp 1s linear;
}

.form-anim {
  animation: form-opacity 2s linear;
}

@keyframes backIntDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backOutUp {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: translateY(-700px) scale(0.7);
    opacity: 0.7;
  }
}

@keyframes form-opacity {
  from {
    opacity: 0;
  }
  20.01% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.25;
  }
  80% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
