.main-button {
  position: relative;
  overflow: hidden;
}

.main-button:after {
  content: "";
  background: #5e3939;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.main-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.main-button:focus {
  outline: none;
}
