/* Test */
.mp-close {
  animation: mp-close-animation 2s linear;
}

@keyframes mp-close-animation {
  from {
    height: 200px;
  }
  10% {
    height: 200px;
  }
  10.01% {
    height: 200px;
  }
  20% {
    height: 180px;
  }
  20.01% {
    height: 180px;
  }
  40% {
    height: 150px;
  }
  40.01% {
    height: 150px;
  }
  60% {
    height: 100px;
  }
  60.01% {
    height: 100px;
  }
  80% {
    height: 20px;
  }
  80.01% {
    height: 0px;
  }
  to {
    height: 0px;
  }
}
/* Test */

.mp-social {
  overflow: hidden;
  transition: all 0.5s;
  height: 56px;
}

.mp-social-active {
  height: 256px;
  animation: collapse-animation 1s linear;
}

.mp_social_1 {
  opacity: 0;
  animation: mp-social 2s infinite;
}

.mp_social_2 {
  opacity: 0;
  animation: mp-social 2s infinite;
  animation-delay: 0.5s;
}

.mp_social_3 {
  opacity: 0;
  animation: mp-social 2s infinite;
  animation-delay: 1s;
}

.mp_social_4 {
  opacity: 0;
  animation: mp-social 2s infinite;
  animation-delay: 1.5s;
}

.icon-close {
  opacity: 0;
  animation: icon-animation 2s infinite;
  animation-delay: 2s;
}

@keyframes icon-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes mp-social {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes collapse-animation {
  from {
    height: 56px;
  }
  10% {
    height: 56px;
  }
  10.01% {
    height: 65px;
  }
  20% {
    height: 100px;
  }
  20.01% {
    height: 100px;
  }
  40% {
    height: 150px;
  }
  40.01% {
    height: 150px;
  }
  60% {
    height: 180px;
  }
  60.01% {
    height: 184px;
  }
  80% {
    height: 224px;
  }
  80.01% {
    height: 238px;
  }
  to {
    height: 256px;
  }
}

.cb-phone-cls-1 {
  fill: rgb(220, 38, 38);
}

.cb-phone-cls-2 {
  fill: #f3f3f3;
}

.cb-close-cls-1 {
  fill: #f3f3f3;
}

.cb-close-cls-2 {
  fill: none;
  stroke: #44464d;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 21.49px;
}

.cb-whatsapp-cls-1 {
  fill: #f3f3f3;
}

.cb-whatsapp-cls-2 {
  fill: #55cd6c;
}

.cb-telegram-cls-1 {
  fill: #f3f3f3;
}

.cb-telegram-cls-2 {
  fill: #36aee2;
}

.cb-phoneSocial-cls-1 {
  fill: #f3f3f3;
}

.cb-phoneSocial-cls-2 {
  fill: #44464d;
}

.cb-viber-cls-1 {
  fill: #f3f3f3;
}

.cb-viber-cls-2 {
  fill: #834995;
}
