@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.container-main {
  max-width: 1140px;
  width: 100%;
}
